Source: deepin-qt5config
Section: devel
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>=9), qt5-qmake, qt5-default
Standards-Version: 3.9.8

Package: deepin-qt5config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, deepin-desktop-base
Description: Configure Qt feature on deepin platform
	load(deepin_qt) in *.pro file.
